@font-face {
    font-family: "Gilroy-Medium";
    font-weight: 400;
    font-display: swap;
    src : url("./fonts/Gilroy-Medium.woff2"),
        url("./fonts/Gilroy-Medium.woff");
}

@font-face {
    font-family: "Gilroy-Bold";
    font-weight: 700;
    font-display: swap;
    src : url("./fonts/Gilroy-Bold.woff2"),
        url("./fonts/Gilroy-Bold.woff");
}

@font-face {
    font-family: "Gilroy-Black";
    font-weight: 900;    
    font-display: swap;
    src : url("./fonts/Gilroy-Black.woff2"),
        url("./fonts/Gilroy-Black.woff");
}

@font-face {
    font-family: "ChronicleDisplay-Bold";
    font-weight: 700;
    font-display: swap;
    src : url("./fonts/ChronicleDisplay-Bold.woff2"),
        url("./fonts/ChronicleDisplay-Bold.woff");
}