*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Gilroy-Bold";
    color: #fff;
    background-color: #0B1D26;
    background-image: url("./images/backgrounds.jpg");
    background-repeat: no-repeat;
}

main {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul,ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.page-wrapper {
    position: relative;
}

.container {
    max-width: 1462px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.subtitle {
    position: relative;
    padding-left: 104px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    color: $accent-color;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 72px;
        height: 2px;
        background-color: $accent-color;
        transform: translateY(-1px);
    }
}