*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Gilroy-Bold";
    color: #fff;
    background-color: #0B1D26;
}

main {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul,ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.page-wrapper {
    position: relative;
}

.backgrounds {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 1600px;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 700px;
        background-image: linear-gradient(to bottom, transparent, #0B1D26);
    }

    &__mountains {
        position: absolute;
        top: 464px;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 1920px;
        height: 1422px;
        margin: 0 auto;
        background-image: url("./images/bg_mountains.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    &__human {
        position: absolute;
        top: 700px;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 1920px;
        height: 926px;
        margin: 0 auto;
        background-image: url("./images/bg_human.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: 980px) {
            width: 125%;
            background-position: 15%;
        }
    }

    &__clouds {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 1920px;
        height: 1113px;
        margin: 0 auto;
        background-image: url("./images/bg_clouds.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1200px;
            background-image: linear-gradient(160deg, #0B1D26, transparent);
        }
    }
}

.container {
    max-width: 1462px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.subtitle {
    position: relative;
    padding-left: 104px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 6px;
    color: $accent-color;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 72px;
        height: 2px;
        background-color: $accent-color;
        transform: translateY(-1px);

        @media (max-width: 768px) {
            content: none;
        }
    }

    @media (max-width: 768px) {
        padding-left: 0;
    }
}