.controls {
    position: fixed;
    width: fit-content;
    margin-left: auto;
    top: 320px;
    right: 80px;
    float: right;

    &__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__btn {
        width: 100%;
        min-width: 42px;
        min-height: 52px;
        border: none;
        border-right: 2px solid #fff;
        padding: 0;
        padding-right: 32px;
        text-align: right;
        font-size: 18px;
        background-color: transparent;
        color: #fff;
        transition: opacity 0.3s ease;
        opacity: .5;

        &.active {
            opacity: 1;
        }
    }
}