.follow {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        font-size: 18px;
        writing-mode: vertical-rl;
    }

    &__item {
        transition: color .3s ease;

        &:hover {
            color: $accent-color;
        }
    }
}