.footer {
    margin-top: 200px;
    padding-bottom: 120px;

    &__wrapper {
        display: flex;

    }

    &__descr {
        display: flex;
        flex-direction: column;
        margin-right: auto;
    }

    &__text {
        margin-top: 24px;
        max-width: 304px;
    }

    &__copy {
        margin-top: auto;
        opacity: 0.5;
        font-family: "Gilroy-Medium";
    }

    &__title {
        font-size: 24px;
        color: $accent-color;
    }

    &__item {
        margin-top: 16px;
        font-family: "Gilroy-Medium";
    }

    &__menu {
        margin-left: 10%;
    }
}
