.header {
    min-height: 1200px;

    &__wrapper {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 80px;
    }

    &__inner {
        display: flex;
        padding-top: 190px;
    }

    &__title {
        max-width: 956px;
        margin: 0 auto;
    }

    &__text {
        margin: 32px 0;
        font-family: "ChronicleDisplay-Bold";
        font-size: 88px;
        text-transform: capitalize;
    }
}