.header {
    min-height: 1200px;

    &__wrapper {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 80px;
    }

    &__inner {
        display: flex;
        padding-top: 190px;
    }

    &__title {
        max-width: 956px;
        margin: 0 auto;
    }

    &__text {
        margin: 32px 0;
        font-family: "ChronicleDisplay-Bold";
        font-size: 88px;
        text-transform: capitalize;
    }

    &__hint {
        display: flex;
        gap: 15px;
    }

    @keyframes arrow-move {
        0% {
            transform: translateY(0px);
        }
        25% {
            transform: translateY(15px);
        }
        50% {
            transform: translateY(-5px);
        }
        75% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0px);
        }
    }

    &__hint-arrow {
        animation: 1s ease-out 0s arrow-move;
    }
}