.menu {
    font-size: 18px;

    &__logo {
        transition: color .3s ease;

        &:hover {
            color: $accent-color;
        }
    }
    
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1920px;
        padding: 60px 0;

        @media (max-width: 768px) {
            flex-wrap: wrap;
            padding: 30px 0;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 40px;

        @media (max-width: 768px) {
            width: 100%;
            margin-top: 25px;
            justify-content: space-between;
            order: 1;
        }
    }

    &__link {
        transition: color .3s ease;

        &:hover {
            color: $accent-color;
        }
    }

    &__account {
        display: flex;
        gap: 10px;
        align-items: center;
        transition: color .3s ease;

        &:hover {
            color: $accent-color;
        }
    }
}