.steps {
    &__list {
        counter-reset: counter;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        margin-top: 200px;

        @media (max-width: 980px) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 100px;
        }

        &.active .steps__pic {
            opacity: 1;
            transform: translateX(0);
        }

        &.active .steps__descr {
            opacity: 1;
            transform: translateX(0);
        }

        &:nth-child(2) {
            @media (max-width: 1700px) {
                & .steps__descr {
                    padding-right: 110px;
                    padding-left: 40px;
                }
            }

            @media (max-width: 980px) {
                flex-direction: column-reverse;
                & .steps__descr {
                    padding-left: 0;
                }
            }
        }
    }

    &__descr {
        position: relative;
        max-width: 674px;
        padding-left: 150px;
        opacity: 0;
        transform: translateX(-50%);
        transition: opacity .4s ease, transform .4s ease-in-out;

        @media (max-width: 1280px) {
            padding-left: 0;
            max-width: 580px;
        }

        @media (max-width: 980px) {
            max-width: 100%;
            padding-right: 110px;
        }

        &::before {
            content: "0" counter(counter);
            counter-increment: counter;
            position: absolute;
            top: -100px;
            left: 0;
            font-weight: 700;
            font-size: 240px;
            line-height: 1;
            opacity: 0.1;
        }
    }

    &__pic {
        opacity: 0;
        transform: translateX(50%);
        transition: opacity .4s ease, transform .4s ease-in-out;
    }

    &__title {
        margin: 27px 0;
        font-family: "ChronicleDisplay-Bold";
        font-size: 64px;

        @media (max-width: 1280px) {
            font-size: 44px;
        }
    }

    &__text {
        line-height: 2;
    }

    &__arrow {
        transition: transform 1s ease;
    }

    &__link {
        display: flex;
        align-items: flex-end;
        gap: 15px;
        margin-top: 27px;
        color: $accent-color;

        &:hover {
            & .steps__arrow {
                transform: translateX(100px);
            }
        }
    }
}