.steps {
    &__list {
        counter-reset: counter;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 200px;
    }

    &__descr {
        position: relative;
        max-width: 674px;
        padding-left: 150px;

        &::before {
            content: "0" counter(counter);
            counter-increment: counter;
            position: absolute;
            top: -100px;
            left: 0;
            font-weight: 700;
            font-size: 240px;
            line-height: 1;
            opacity: 0.1;
        }
    }

    &__title {
        margin: 27px 0;
        font-family: "ChronicleDisplay-Bold";
        font-size: 64px;
    }

    &__text {
        line-height: 2;
    }

    &__link {
        margin-top: 27px;
        color: $accent-color;
    }
}